In [18]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

EXercise 1:

In [5]:
lakes= c('Winnipeg', 'Winnipegosis','Manitoba','SouthernIndian', 'Cedar', 'Island', 'Gods',  'Cross', 'Playgreen')
elevation = c(217,254,248,254,253,227,178,207,217)
area= c(24387,5374,  4624, 2247, 1353,1223, 1151, 755,657)

In [38]:
manitoba.lakes <- data.frame(lakes, elevation, area)
#manitoba.lakes
manitoba.lakes[which.max(manitoba.lakes$elevation),]
manitoba.lakes[which.min(manitoba.lakes$elevation),]

  lakes        elevation area
2 Winnipegosis 254       5374

  lakes elevation area
7 Gods  178       1151

In [45]:
Ordered = manitoba.lakes[order(manitoba.lakes$area),]
Ordered
Area_ofLakes = sum(manitoba.lakes$area)
paste("Area covered by Lakes", Area_ofLakes, sep = " : ")
#Area_ofLakes

  lakes          elevation area
9 Playgreen      217         657
8 Cross          207         755
7 Gods           178        1151
6 Island         227        1223
5 Cedar          253        1353
4 SouthernIndian 254        2247
3 Manitoba       248        4624
2 Winnipegosis   254        5374
1 Winnipeg       217       24387

[1] "Area covered by Lakes : 41771"

Exercise 2

In [47]:
install.packages(c('DAAG'), type='source')

Installing package into ‘/home/mariam/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)
also installing the dependencies ‘RColorBrewer’, ‘latticeExtra’

In [48]:
library(DAAG)

Loading required package: lattice

In [68]:
#summary(ais$sport)
summary(ais$sex)
#ais
missing_values = is.na(ais)
apply(is.na(ais), 2, which)

  f   m
100 102

integer(0)

In [97]:
ais_female_and_male_sports= table(ais$sport, ais$sex == "f",ais$sex == "m" )

In [98]:
ais_female_and_male_sports

, ,  = FALSE


          FALSE TRUE
  B_Ball      0   13
  Field       0    7
  Gym         0    4
  Netball     0   23
  Row         0   22
  Swim        0    9
  T_400m      0   11
  T_Sprnt     0    4
  Tennis      0    7
  W_Polo      0    0

, ,  = TRUE


          FALSE TRUE
  B_Ball     12    0
  Field      12    0
  Gym         0    0
  Netball     0    0
  Row        15    0
  Swim       13    0
  T_400m     18    0
  T_Sprnt    11    0
  Tennis      4    0
  W_Polo     17    0

Exercise three

In [116]:
df = data.frame(read.csv('/home/mariam/study/PhysOfData/Adv_Stat/rileseme_30062018_0_eng.csv',  header=TRUE, sep=";"))

In [117]:
df

     Zone Region Province Town
1    1    1      2         10
2    1    1      2         20
3    1    1      2         30
4    1    1      2         40
5    1    1      2         50
6    1    1      2         62
7    1    1      2         70
8    1    1      2         80
9    1    1      2         90
10   1    1      2        100
11   1    1      2        110
12   1    1      2        120
13   1    1      2        130
14   1    1      2        140
15   1    1      2        150
16   1    1      2        160
17   1    1      2        170
18   1    1      2        180
19   1    1      2        190
20   1    1      2        200
21   1    1      2        210
22   1    1      2        220
23   1    1      2        230
24   1    1      2        240
25   1    1      2        250
26   1    1      2        260
27   1    1      2        270
28   1    1      2        280
29   1    1      2        290
30   1    1      2        300
⋮    ⋮    ⋮      ⋮        ⋮
7925 4    20     111       780
7926 4    20     111       790
7927 4    20     111       800
7928 4    20     111       810
7929 4    20     111       820
7930 4    20     111       830
7931 4    20     111       840
7932 4    20     111       850
7933 4    20     111       860
7934 4    20     111       870
7935 4    20     111       880
7936 4    20     111       890
7937 4    20     111       900
7938 4    20     111       910
7939 4    20     111       920
7940 4    20     111       930
7941 4    20     111       940
7942 4    20     111       950
7943 4    20     111       960
7944 4    20     111       970
7945 4    20     111       980
7946 4    20     111       990
7947 4    20     111      1000
7948 4    20     111      1010
7949 4    20     111      1020
7950 4    20     111      1030
7951 4    20     111      1040
7952 4    20     111      1050
7953 4    20     111      1060
7954 4    20     111      1070
     Name
1    ACQUI TERME
2    ALBERA LIGURE
3    ALESSANDRIA
4    ALFIANO NATTA
5    ALICE BEL COLLE
6    ALLUVIONI PIOVERA
7    ALTAVILLA MONFERRATO
8    ALZANO SCRIVIA
9    ARQUATA SCRIVIA
10   AVOLASCA
11   BALZOLA
12   BASALUZZO
13   BASSIGNANA
14   BELFORTE MONFERRATO
15   BERGAMASCO
16   BERZANO DI TORTONA
17   BISTAGNO
18   BORGHETTO DI BORBERA
19   BORGORATTO ALESSANDRINO
20   BORGO SAN MARTINO
21   BOSCO MARENGO
22   BOSIO
23   BOZZOLE
24   BRIGNANO FRASCATA
25   CABELLA LIGURE
26   CAMAGNA MONFERRATO
27   CAMINO
28   CANTALUPO LIGURE
29   CAPRIATA D'ORBA
30   CARBONARA SCRIVIA
⋮    ⋮
7925 SERRENTI
7926 SERRI
7927 SETZU
7928 SEUI
7929 SEULO
7930 SIDDI
7931 SILIQUA
7932 SILIUS
7933 SIURGUS DONIGALA
7934 SOLEMINIS
7935 SUELLI
7936 TEULADA
7937 TRATALIAS
7938 TUILI
7939 TURRI
7940 USSANA
7941 USSARAMANNA
7942 VALLERMOSA
7943 VILLACIDRO
7944 VILLAMAR
7945 VILLAMASSARGIA
7946 VILLANOVA TULO
7947 VILLANOVAFORRU
7948 VILLANOVAFRANCA
7949 VILLAPERUCCIO
7950 VILLAPUTZU
7951 VILLASALTO
7952 VILLASIMIUS
7953 VILLASOR
7954 VILLASPECIOSA
     Popolation TotalSections DICUIOSP Males  Females Total  Males18 Females18
1    20.054     24            1        7.710  8.965   16.675  34      30
2    329         1            0        177    160     337      0       0
3    89.411     93            1        35.635 39.458  75.093 169     184
4    754         1            0        311    342     653      0       0
5    774         1            0        346    333     679      5       0
6    1.791       2            0        869    943     1.812    4       6
7    497         2            0        227    213     440      1       1
8    380         1            0        157    142     299      0       1
9    6.068       8            0        2.612  2.744   5.356   17       8
10   306         1            0        124    116     240      0       2
11   1.420       2            0        560    611     1.171    1       1
12   2.071       2            0        972    955     1.927    8       3
13   1.742       2            0        792    874     1.666    6       9
14   505         1            0        225    194     419      1       1
15   765         1            0        363    350     713      2       2
16   171         1            0        64     62      126      1       1
17   1.930       2            0        737    769     1.506    7       3
18   1.991       2            0        878    886     1.764    4       1
19   617         1            0        283    296     579      2       1
20   1.470       2            0        592    588     1.180    0       5
21   2.531       3            0        1.132  1.143   2.275    9       3
22   1.240       2            0        496    458     954      2       2
23   331         1            0        127    139     266      0       1
24   451         1            0        195    183     378      0       2
25   554         1            0        329    285     614      2       1
26   510         1            0        250    246     496      0       1
27   802         2            0        352    357     709      2       3
28   549         1            0        274    278     552      0       1
29   1.926       2            0        841    868     1.709    4       3
30   1.055       1            0        456    465     921      5       1
⋮    ⋮          ⋮             ⋮        ⋮      ⋮       ⋮      ⋮       ⋮
7925 5.028       4            0        2.247  2.216   4.463   9       8
7926 676         1            0        327    302     629     3       2
7927 144         1            0        62     62      124     1       0
7928 1.361       2            0        779    759     1.538   5       6
7929 897         1            0        438    424     862     0       1
7930 696         1            0        347    329     676     1       5
7931 3.997       4            0        1.717  1.790   3.507  10       8
7932 1.271       2            0        609    525     1.134   7       1
7933 2.080       2            0        890    872     1.762  10       7
7934 1.858       2            0        806    822     1.628   4       4
7935 1.135       1            0        538    512     1.050   2       2
7936 3.773       5            0        1.874  1.687   3.561   5       1
7937 1.107       1            0        524    533     1.057   1       3
7938 1.062       2            0        467    501     968     3       0
7939 442         1            0        223    228     451     0       1
7940 4.285       4            0        1.971  1.966   3.937  10      11
7941 556         1            0        268    272     540     2       1
7942 1.944       2            0        1.011  989     2.000   4       8
7943 14.281     14            0        6.367  6.376   12.743 38      32
7944 2.872       3            0        1.279  1.253   2.532   8      10
7945 3.655       4            0        1.600  1.665   3.265  13       5
7946 1.158       1            0        606    574     1.180   2       4
7947 681         1            0        323    303     626     2       2
7948 1.433       2            0        644    640     1.284   3       3
7949 1.097       1            0        527    529     1.056   3       4
7950 4.836       5            0        2.453  2.411   4.864  23      16
7951 1.127       2            0        640    621     1.261   6       4
7952 3.420       3            0        1.699  1.632   3.331  16      13
7953 6.857       7            0        3.035  3.089   6.124  15      20
7954 2.407       2            0        1.078  1.075   2.153   9       6
     Total18 MalesAbroad FemalesAbroad TotalsAbroad
1     64     408.000     424.000       832.000
2      0      39.000      36.000        75.000
3    353       2.719       2.626         5.345
4      0      27.000      35.000        62.000
5      5      33.000      50.000        83.000
6     10     176.000     208.000       384.000
7      2      32.000      34.000        66.000
8      1       4.000       2.000         6.000
9     25     196.000     190.000       386.000
10     2       5.000       5.000        10.000
11     2      18.000      14.000        32.000
12    11     129.000     150.000       279.000
13    15     110.000     133.000       243.000
14     2       5.000       1.000         6.000
15     4      61.000      52.000       113.000
16     2       3.000       0.000         3.000
17    10      26.000      30.000        56.000
18     5      69.000      82.000       151.000
19     3      57.000      55.000       112.000
20     5      40.000      36.000        76.000
21    12     188.000     203.000       391.000
22     4      16.000      10.000        26.000
23     1       8.000       3.000        11.000
24     2       7.000       7.000        14.000
25     3     108.000      99.000       207.000
26     1      40.000      31.000        71.000
27     5      43.000      37.000        80.000
28     1      71.000      71.000       142.000
29     7     101.000     100.000       201.000
30     6      38.000      24.000        62.000
⋮    ⋮       ⋮           ⋮             ⋮
7925 17      155         106           261.000
7926  5       43          22            65.000
7927  1        1           0             1.000
7928 11      212         219           431.000
7929  1       63          66           129.000
7930  6       41          34            75.000
7931 18      105         124           229.000
7932  8       60          59           119.000
7933 17       66          29            95.000
7934  8       30          15            45.000
7935  4       41          30            71.000
7936  6      240         173           413.000
7937  4       59          54           113.000
7938  3       29          35            64.000
7939  1       38          38            76.000
7940 21      240         197           437.000
7941  3       35          37            72.000
7942 12      204         190           394.000
7943 70      560         444             1.004
7944 18      158         141           299.000
7945 18      106          80           186.000
7946  6      121         126           247.000
7947  4       39          43            82.000
7948  6       72          82           154.000
7949  7       69          60           129.000
7950 39      405         337           742.000
7951 10      191         155           346.000
7952 29      142         112           254.000
7953 35      191         139           330.000
7954 15       32          32            64.000

In [145]:
females = as.numeric(df$Females)
females18 = as.numeric(df$Females18)


males = as.numeric(df$Males)
males18 = as.numeric(df$Males18)

In [149]:
sum_f= sum(females,females18)
sum_m= sum(males,males18)

paste("Total number of females in the italian in the electoral population", sum_f, sep = " : ")

paste("Total number of males in the italian in the electoral population", sum_m, sep = " : ")

[1] "Total number of females in the italian in the electoral population : 16178172.536"

[1] "Total number of males in the italian in the electoral population : 15999190.498"

In [152]:
#I don't understand why there's fractions in the number so it might be better not to use the fe/males18 

sum_ff= sum(females)
sum_mm= sum(males)

paste("Total number of females in the italian in the electoral population", sum_ff, sep = " : ")

paste("Total number of males in the italian in the electoral population", sum_mm, sep = " : ")

[1] "Total number of females in the italian in the electoral population : 16046284"

[1] "Total number of males in the italian in the electoral population : 15859339"